In [ ]:
mytuple = ("apple", "banana", "cherry")

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) 
print(thistuple)